/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Golden Line */
.golden-line {
  /* width: 100%; */
  height: 2px;
  margin-left: 50px;
  margin-right: 50px;
  background: #dbb85e;
  position: relative;
  z-index: 1;
}

/* Navbar Styles */
.navbar {
  background: transparent; /* Fully transparent background */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10; /* Keep it above other elements except the video */
  transition: background-color 0.5s ease;
}

.navbar:hover {
  background: rgba(0, 0, 0, 0.8); /* Dark background on hover */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
}

.navbar-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}

.navbar-tagline {
  color: white;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-family: 'Arial', sans-serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links:hover {
  color: #dbb85e;
}

.join-us-btn {
  background-image: linear-gradient(123deg, #866a2f, #dbb85e 50%, #866b2f);
  color: black;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 20px;
}

/* Video Container Styles */
.video-container {
  position: absolute; /*Ensure the video is behind the navbar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Make the video cover the entire viewport height */
  /* z-index: -1; Place the video behind other elements */
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Overlay Text */
.overlay-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 5;
}

.overlay-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay-text p {
  font-size: 1.5rem;
}

/* About Section */
.about-section {
  padding: 20px; /* Adjust padding as needed */
  background: black;
  color: white;
  text-align: center;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.about-photo {
  width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
}

.about-text blockquote {
  font-style: italic;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  position: relative;
}

.about-text blockquote::before {
  content: open-quote;
  font-size: 3rem;
  color: gold;
  position: absolute;
  left: -40px;
  top: -20px;
}

.about-text blockquote::after {
  content: close-quote;
  font-size: 3rem;
  color: gold;
  position: absolute;
  right: -40px;
  bottom: -20px;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-photos {
    flex-direction: row;
  }

  .about-photo {
    position: relative;
    transform: translate(0, 0);
  }

  .about-text {
    margin: 20px 0 0 0;
    text-align: center;
  }

  .about-text blockquote::before,
  .about-text blockquote::after {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .about-photo {
    width: 100px;
    height: 100px;
  }
}
